* {margin:0px;padding:0px;}
a:link,a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
body {margin-top:0;padding:0 10px;text-align:center;font:12px 宋体;}
td,input,select,textarea {font-size:12px;}
ul li {list-style:none;}
img {border:none;}
.hidden {display:none;}
.show {display:block;}
.hand {cursor:pointer;}
.btn {cursor:pointer;}
.l {float:left;}
.r {float:right;}
.clear {clear:both;font-size:1px;height:0px;margin-top:-1px;}
.active a:hover {text-decoration:none;cursor:text;}

.listX2 li {float:left;width:50%;}
.listX3 li {float:left;width:50%;}
.InpTxt {border:1px solid;}

.Top li b {font-weight:normal;}

#Wrap {margin:0 auto 0 auto;width:900px;text-align:left;}

/*===主体栏目=============================================================*/

#MCol {width:900px;float:left;}
.MBlock {clear:both;float:left;clear:both;margin-bottom:11px;}
.MBlock {border:1px solid;}
.MBlock .InMB {width:900px;}
.MB0 {width:100%;border:none;}
.MB0 .InMB {width:100%;}
#Bodyer {margin-bottom:0px;}

#BSide {float:left;width:186px;}
#BMain {float:right;width:700px;}/*575px*/
#BBottom {clear:both;}
.noBSide #BSide {display:none;}
.noBSide #BMain {width:100%;}
.noBSide .subBM .titBar,
.noBSide .subBM .txtBox {width:696px;float:left;}/*897px;*/
.noBSide .subBM .titBar h3 {width:120px;}
.noBSide .urlTxt ul li {width:149px;;}

/*页顶*/
#pageHead {width:100%;border-bottom:1px solid #dedfdf;height:22px;overflow:hidden;}
#phLinks {float:left;}
#phLinks li {float:left;padding:0 5px;}
#phLinks li,#phLinks p {line-height:22px;height:22px;}
#SetHome,
#AddFavo {padding:0 10px 0 18px;background:no-repeat 0 2px;}

#phRtInfo {float:right;line-height:22px;height:22px;width:190px;text-align:center;}
/*Header*/
#Header {float:left;background:#fff;margin:0 0 4px 0;}
#Logo {float:left; margin-left:5px;}
#TopLink {float:right;width:560px;}
#TopLink li {float:left;padding:0 10px 0 0;line-height:22px;height:22px;}
#TopLink li.lst {float:right;padding:0;}

#TopNav {float:right;width:700px;margin:8px 0 0 0;background-position:0 -60px;background-repeat:repeat-x;}
#TopNav .l,
#TopNav .r {width:7px;font-size:1px;height:60px;background-repeat:no-repeat;}
#TopNav .l {background-position:0 0;}
#TopNav .r {background-position:100% 0;}
#TopNav .c {float:left;}

#TopNav dl {clear:both;height:30px;overflow:hidden;width:680px;}/*556px*/
#TopNav dt,
#TopNav dd {float:left;}

.tNav1 {font-weight:bold;}
.tNav1 dd {padding:10px 15px 0 22px;background-repeat:no-repeat;background-position:8px 4px;}
.tNav1 dd.lst {padding-right:0px;}
.tNav1 a:hover {color:#fff}
.tNav2 {line-height:30px;overflow:hidden;}
.tNav2 dd,.tNav2 .tit{padding:0 3px 0 10px;}
.tNav2 dd.fst{padding:0 3px 0 2px;}

/* 公共 subBS & subBM */
.titBar,
.txtBox {clear:both;overflow:hidden;}
.titBar {overflow:hidden;}
.titBar h3 {float:left;font-size:12px;}
.titBar em {float:right;font-style:normal;}
.titBar .tabs,.titBar .tabs li {float:left;}
.titBar .move {float:left;line-height:25px;font-weight:normal;padding:0 10px;cursor:pointer;}
.titBar .move a:link, .titBar .move a:hover, .titBar .move a:visited {color:#6dbf00;}
.BM2 .titBar .move a:link, .BM2 .titBar .move a:hover, .BM2 .titBar .move a:visited {color:#0072FF;}
.subBM .titBar .move0 {padding-top:25px;}
.subBMover .titBar .move0 {padding-top:0px;}

.subBS,
.subBM {clear:both;margin-bottom:11px;float:left;}
.BS1,
.BM1,.BM2,.BM3 {border:1px solid;}

.subBS .titBar,
.subBS .txtBox,
.subBS .treeBox {width:186px;}
.subBS .titBar {height:23px;background-position:0 0;background-repeat:repeat-x;}
.subBS .titBar h3,
.subBS .titBar em {line-height:25px;height:25px;}
.subBS .titBar h3 {padding:0 0 0 12px;}
.subBS .titBar em {padding:0 5px 0 0;}
.subBS .txtBox {padding:3px 0;}
.subBS .listX1 ul {width:100%;}
.subBS .listX1 li {padding-left:12px;float:left;width:100%;}
.subBS .listX2,.subBS .listX3 {text-align:center;}
.subBS .listX2 ul,.subBS .listX3 ul {float:left;}
.subBS .txtBox ul {width:100%;}
.HomePage .lstBS .txtBox {padding:4px 0 4px 0;}
.HomePage .lstBS .txtBox ul {float:left;}
.subBS .txtBox li,
.subBS .txtBox dd {line-height:23px;height:23px;overflow:hidden;}


.subBS .txtBox ul.Top {width:auto;margin:0 10px;float:none;}
.subBS .txtBox ul.Top li {border-bottom:1px dotted;}

/*左侧栏目*/

/*天气预报*/
#sTimer {text-align:center;height:18px;}
#sWeather {border-top:1px solid;}
#sWeather .titBar {height:20px;}
#sWeather .titBar h3,
#sWeather .titBar em {line-height:22px;height:22px;}
#sWeather .txtBox {border:1px solid;padding:2px 0 3px 0;}
#sWeather .txtBox iframe {width:186px;}

/*热门话题*/
.hotPic {float:left;width:64px;text-align:right;padding:5px 0 0 0;}
.hotPic img {width:56px;height:72px;}
#HotTopic .txtBox {padding:2px 0 0 0; height:225px;}
#HotTopic .txtBox ul.hot {width:110px;float:left;overflow:hidden; margin-left:5px;}
#HotTopic .txtBox ul.nor {clear:both;margin:0;padding:0 0 1px 0;width:100%;}
#HotTopic .txtBox ul.hot li,
#HotTopic .txtBox ul.nor li {line-height:22px;height:22px;float:left;clear:both;width:100%;}
#HotTopic .txtBox ul.nor li {padding-left:3px;}

#hSideAd1 {border-top:1px dotted;clear:both;float:left;width:100%;padding:5px 0 3px 0;}
#hSideAd1 li {line-height:20px;height:20px;}


/*邮局入口*/
#MailLogin .txtBox {text-align:center;padding:8px 0;}
#MailLogin table {margin:0 auto;}
#MailLogin td {height:20px;}
#MailLogin .op {width:60px;}
#MailLogin .InpTxt {width:100px;}
#MailLogin .InpBtn {border:1px solid;}

/*城市导航*/
#BsCity .txtBox {padding:4px 0 6px 0;}

/*主体部分*/
.BM0 {width:100%;}
.subBM .titBar,.subBM .txtBox {width:698px;float:left;}/*574px*/
.BM0 .titBar,.BM0 .txtBox {width:100%;}
.subBM .titBar {height:23px;}
.subBM .titBar .tabs li {width:85px;line-height:24px;text-align:center;}
.subBM .titBar .tabs li {width:100px;}
.subBM .titBar .tabs li a {display:block;}

.subBM .titBar h3,.subBM .titBar em {line-height:25px;height:25px;}
.subBM .titBar h3 {width:100px;text-align:center;}
.subBM .titBar em {padding-right:12px;}
.subBM .txtBox li,
.subBM .txtBox dd,
.subBM .txtBox dt {line-height:23px;height:23px;}


/*顶部搜索*/
#hSearch {margin-top:10px;margin-bottom:7px;float:left;width:100%;display:inline;}
#MSoBox {height:90px;width:100%;}/*572px*/
.SoTab,.SoForm {clear:both;}
.SoTab li,
.SoForm li {float:left;}

.SoTab {padding-top:4px;width:100%;float:left;font-size:14px;font-family:tahoma,宋体;background-position:83px 7px;background-repeat:no-repeat;}

.SoTab ul {padding-left:78px;}
.SoTab li {line-height:25px;height:25px;}
.SoTab li.tab {overflow:hidden;width:69px;}/*width:55px;*/
.SoTab li.active {width:71px; margin-right:-2px}/*width:60px;*/
.SoTab li.tab a {display:block;text-align: left; padding-left:23px;border:0px;}
.SoTab li.active a {padding:1px 0 0 0;font-weight:bold;border:0; text-align:center;}
.SoTab li.lst {float:right;font-size:12px;}

.SoForm {border:1px solid;float:left;padding:11px 0 0 0;background-position:110px 0;background-repeat:no-repeat;}/*background-position:82px 0*/
.SoForm ul,.SoForm form {width:698px;height:36px;float:left;overflow:hidden;}/*572px*/
.SoForm .logo {width:120px;text-align:center;}
.SoForm .inp {padding:0;overflow:hidden;}
.SoForm .InpTxt {border:1px solid;width:234px;line-height:22px;height:22px;padding-left:2px;font-size:16px;}
#KxForm .InpTxt {width:151px;}
.SoForm li.keys {line-height:25px;width:280px;overflow:hidden;}
.SoForm li.keys a {padding:0 0 0 0px;}
.SoForm .InpBtn {border:1px solid;font-size:15px;padding:0 1px 0 1px;margin:1px 8px 0 5px;}

/*名站导航*/
#hFamSite {height:250px;} 
#hFamSite .tabs .active a {font-weight:bold;}
#hFamSite .titBar em {padding:0 12px 0 0;line-height:22px;}
#hFamSite .txtBox {padding:3px 0 3px 0;}
#hFamSite .txtBox ul {clear:both;float:right;width:100%;}
#hFamSite .txtBox li {float:left;width:81px;overflow:hidden;}
#hFamSite .txtBox ul.Top {text-align:left;width:97%;}
#hFamSite .txtBox #My265His li {width:108px;}
#ScrollNews {height:27px;padding:0 0 0 12px;clear:both; line-height:27px;}
#ScrollNews p {margin-top:7px;float:left;width:100%;}
#ScrollNews iframe {width:690px;height:15px;}

#hFamSite .txtBox ul.famUrl {width:692px;float:right;}/*564px*/
#hFamSite .txtBox ul.famUrl li {width:98px;background-repeat:repeat-x;background-position:0 bottom;padding-bottom:1px; height:27px;}
#hFamSite .txtBox ul.famUrl li a {float:left;padding-left:13px;font:14px/27px tahoma,宋体;height:27px;overflow:hidden;background-repeat:no-repeat;background-position:5px 10px;}
#My265His ul.Top li a {font:14px/27px tahoma,宋体;height:27px;overflow:hidden;}


.famSiteBox {height:214px;}

#clearHits {clear:both;text-align:right;padding:5px 20px;}

/*网址分类*/
#hSiteCate .txtBox {padding:0 0 0 0;}
#hSiteCate ul {clear:both;width:100%;float:left;}
#hSiteCate ul li {float:left;width:76px;text-align:center;background-repeat:no-repeat;background-position:100% 50%; height:26px;line-height:26px;}
#hSiteCate{ margin-bottom:10px;}

/*实用酷站*/

#hCoolSite dl {clear:both;width:100%;float:left;height:25px;overflow:hidden;}
#hCoolSite dt,
#hCoolSite dd {float:left; line-height:25px;}
#hCoolSite dt.cate {padding:0 12px;letter-spacing:3px;}
#hCoolSite dt.cate a.En {letter-spacing:0px;}
#hCoolSite dt.more {float:right;padding:0 10px 0 0;}
#hCoolSite dd {padding-right:31px;}
#hCoolSite{ margin-bottom:10px;}

#hCoolSite dt.cate a:link,#hCoolSite dt.cate a:visited {color:#006600}
#hCoolSite dt.cate a:hover {color:#FF0000}

/*游戏专题*/
#Games h3 {font-size:12px;}
#Games .tit {float:left;line-height:50px;padding-left:5px;}
#Games .txt {float:right;width:90%;padding:5px 0;}
#Games .txt li {float:left;width:89px;line-height:20px;}

/*综合搜索*/
#Searches h3 {font-size:12px;}
#Searches .tit,#Searches .inp {float:left;}
#Searches .tit {line-height:48px;padding-left:5px;}
#Searches .inp {padding:13px 0 0 0;width:218px;overflow:hidden;}
#Searches .inp .InpTxt {padding:2px 3px;width:160px;}
#Searches .inp .InpBtn {margin-left:3px;}
#Searches .txt {float:right;width:68%;padding:5px 0;}
#Searches .txt li {float:left;width:76px;line-height:20px;overflow:hidden;}
#Searches .txt input {margin-right:2px;}
/*举报不良网址等*/
#Report {text-align:center;}
#Report .txt {width:90%;}
#Report .txt li {width:112px;padding:2px 0;float:left;line-height:24px;}
#Report .txt li.goHome {text-align:right;}

/*分类网址列表*/
.urlTxt {float:left;width:100%;padding:5px 0;}
.urlTxt ul {text-align:left;clear:both;}
.urlTxt ul li {float:left;width:143px;border-bottom:1px solid;overflow:hidden;height:21px;}
.urlTxt ul li a {padding-left:12px;line-height:21px;}
.urlTxt ul li.hot a:link, .urlTxt ul li.hot a:visited {color:navy;}
.urlTxt ul li.hot a:hover{color:red;}
.SoKeys {float:left;width:100%;}
.SoKeys dt {float:left;padding:5px 0 0 13px;}
.SoKeys dt strong {font-weight:normal;}
.SoKeys dd {float:left;padding:5px 8px 0 8px;}
.urlTxt .commend {color:#f00;}
.SoKeys dt {color:#f60;}
.SoKeys dd a,.SoKeys dd a:visited {color:#0075EB;}

/*版权信息*/
#CopyRt {text-align:center;clear:both;line-height:21px;width:100%;}
.SubPage #CopyRt {width:100%}
#FtLink {margin-top:8px;}
#FtCopy {width:550px;margin:0 auto;padding-bottom:5px;}
#FtCopy .l {float:left;padding:5px 0 0 70px;width:400px;}
#FtCopy .r {float:left;}

/*内页*/
#Pp {width:100%;margin:0px;border-top:1px solid #dedede;font:12px Verdana, 宋体,Geneva, "Arial",sans-serif;}
#Pp .Link {float:right; margin:0 2px 0 0;background:url(img/home.gif) no-repeat 3px 50%;}
#Pp .Link p {padding-left:23px;}
#Pp .Option {float:left;padding:0px;}
.SubPage #Pp {line-height:25px;}

/*===广告=============================================================*/

#MidTxtAd ul {clear:both;float:left;width:100%;padding:2px 0 0 2px;}
#MidTxtAd ul li {float:left;width:116px;text-align:center;padding:4px 0 3px 0;}
#hRtPicAd1 img {height:60px;}
#hRtPicAd2 {text-align:center;clear:both;height:80px;}
#hRtPicAd2 a {display:block;padding:6px 0 0 0;}
#MBTopAd {margin-bottom:5px;}





